<% if signed_in? %>
	<% provide(:title, 'Главная') %>
	<h1>Главное меню</h1>
	<table>
		<tr>
			<td>
			<%= link_to internal_directory_path do %>
   				<%= image_tag("internal_directory.png", :alt => "Внутренний справочник", 
   				:class => "img-rounded", :width => "100", :height => "100") %>
   				<h2>Внутренний справочник</h2>
			<% end %>
			</td>
			<td>
			<%= link_to '#' do %>
   				<%= image_tag("external_directory.png", :alt => "Внешний справочник", 
   				:class => "img-rounded", :width => "100", :height => "100") %>
   				<h2>Внешний справочник</h2>
			<% end %>
			</td>
			<td>
			<%= link_to enter_documents_path do %>
   				<%= image_tag("enter_documents.png", :alt => "Входящие документы", 
   				:class => "img-rounded", :width => "100", :height => "100") %>
   				<h2>Входящие документы</h2>
			<% end %>
			</td>
			<td>
			<%= link_to '#' do %>
   				<%= image_tag("rezolutions.png", :alt => "Резолюции", 
   				:class => "img-rounded", :width => "100", :height => "100") %>
   				<h2>Резолюции</h2>
			<% end %>
			</td>
			<td>
			<%= link_to '#' do %>
   				<%= image_tag("ispolneniya.png", :alt => "Исполнения", 
   				:class => "img-rounded", :width => "100", :height => "100") %>
   				<h2>Исполнения</h2>
			<% end %>
			</td>
		</tr>
	</table>
<%else%>
	<% provide(:title, 'Добро пожаловать') %>
	<div class="center hero-unit">
	  <h1>Добро пожаловать в систему электронного документооборота!</h1>

	  <h2>Чтобы начать работу, нажмите кнопку "Войти в систему"</h2>

	  <%= link_to "Войти в систему", signin_path, class: "btn btn-success btn-lg" %>
	</div>
<%end%>
