<% provide(:title, 'Создать сотрудника') %>
<h1>Создание нового сотрудника</h1>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

      <%= f.label :name, "Фамилия Имя Отчество" %>
      <%= f.text_field :name %>

      <%= f.label :login, "Логин" %>
      <%= f.text_field :login %>

      <%= f.label :password, "Пароль (не менее 6 символов)" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Подтвердите пароль" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Добавить сотрудника", class: "btn btn-success btn-lg" %>
    <% end %>
  </div>
</div>